@page "/"
@model Monitor_Cheltuieli.Pages.MonitorCheltuieli.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Tiberiu-Alexandru Gavris</h1>
    <p><img src="https://picstatio.com/large/qrcoiq/laptop-keypads-coffee-cup.jpg" alt="coffee" width="900" height="600" /></p>
</div>
